.idea
.idea/**
*.iml
out/
out/**
/build/
/build/**
.gradle
.gradle/**
.next
.next/**
.env
.env.local
.env.*.local
.DS_Store
node_modules/
node_modules/**
dist/
dist/**
.vscode/
.vscode/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
coverage/**
logs/
logs/**
*.log
bun.lockb